<div id="contact-us">
	<footer class="footer" style="background-color: #000000;">
	    <div class="container-fluid py-4">
	    	<a class="footer-img zoom" href="/"><img src="site_assets/images/main-logos/fred.png" alt="" height="80"></a>
	    	<a class=" footer-img zoom" href="https://www.ed.ac.uk/"><img class="edi-logo" src="site_assets/images/main-logos/uoe.png" alt="" width="80"></a>
	    	<br><br>
	    	<h5>FRED - Fire Resistant Extinguishing Device</h5>
	    	
	    	<p>A fire extinguishing system with autonomous and remote controlled features designed to<br>
	    	integrate with the existing fire safety system in the building, with an accompanying<br>
	    	adminstration dashboard and app ecosystem that provides analysis.</p>

	    	<p>SDP 7, Locker 307, Floor 3 - Appleton Tower, 11 Crichton St, Newington, Edinburgh EH8 9LE</p>

	    	<p>SVG Background provided by <span class="attr"><a target="_blank" href="https://heropatterns.com/">Hero Patterns</a></span></p>
	    </div>
	</footer>
</div>