<div hidden="hidden" id="live_status" style="scroll-margin-top:110px;">
<h2 style="padding-top: 30px; padding-left: 10px; padding-bottom: 20px;">Live Status</h2>
<div class="card-columns" style="padding: 20px">
<div class="card bg-info text-white">
<div class="card-body text-center">
<p class="card-text" id="fire_location">Fire Identified: Zone 1</p>
</div>
</div>
<div class="card bg-danger"></div>
<div class="card bg-warning text-white">
<div class="card-body text-center">
<p class="card-text" id="fred_activity">F.R.E.D Zone 1 : EXPLORING...</p>
</div>
</div>
<div class="card bg-danger"></div>
<div class="card bg-info text-white">
<div class="card-body text-center">
<p class="card-text" id="communication_activity">Humans Detected: 0</p>
</div>
</div>
<div class="card bg-danger"></div>
</div>
<div class="card" style="margin-left: 20px; margin-right: 20px;">
<div class="card-header">Video Stream from F.R.E.D</div>
<div class="card-body">
<p class="card-title">High-quality real time footage from F.R.E.D</p>
<a class="btn btn-primary" href="http://aggron:8080/?action=stream" target="_blank">Open Live</a>
</div>
</div>
<div class="card-columns" style="padding: 20px">
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">System Network: OK</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Circuit Board: OK</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Battery: ACTIVE</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Distance Sensor: ACTIVE</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">LIDAR: ACTIVE</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Camera: ACTIVE</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Extinguisher Pump: ACTIVE</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Wheelbase: ACTIVE</p>
</div>
</div>
<div class="card bg-success text-white">
<div class="card-body text-center">
<p class="card-text">Arm: ACTIVE</p>
</div>
</div>
</div>
</div>