<nav class="navbar py-1 navbar-expand-md navbar-dark sticky-top" style="background-color: #000000;">
	<div class="container-fluid">
		<a class="navbar-brand zoom" href="/"><img src="site_assets/images/main-logos/fred.png" alt="" width="140" height="50"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto mb-1 mb-lg-0">
		      	<li class="nav-item center"> <a class="nav-link" id="transition" href="/team">team</a> </li>
		      	<li class="nav-item center"> <a class="nav-link" id="transition" href="/admin">admin</a> </li>
		        <li class="nav-item center"> <a class="nav-link" id="transition" href="#contact-us">contact us</a> </li>
			</ul>
		</div>
	</div>
</nav>